[Unit]
Description=Remote system call server
Requires=rsc-init@%i.service check_inangoplug_enabled.service

[Service]
EnvironmentFile=/tmp/rsc-server_%i.conf
ExecStart=/usr/bin/rsc-server -i %i -p $port -s -f /var/log/rsc-server-%i.log -d 2 -c 2 -m 1000000
