[Unit]
Description=RSC-proxy
BindsTo=rsc-init@%i.service check_inangoplug_enabled.service

[Service]
EnvironmentFile=/etc/systemd/rsc-proxy_default.conf
EnvironmentFile=/tmp/rsc-proxy_%i.conf
ExecStart=/usr/bin/tcp-proxy -i %i --dst-ip $ip_addr --src-port $port
StandardOutput=journal
