[Unit]
Description=Open vSwitch Brcompatd Unit
After=ovs-vswitchd.service network-pre.target systemd-udev-settle.service
# CcspPandMSsp.service dependency is required for seamless ovs boot up
Before=network.target network.service CcspPandMSsp.service
Requires=ovs-vswitchd.service
PartOf=openvswitch.service

[Service]
Type=forking
Restart=always
EnvironmentFile=/etc/openvswitch/default.conf
EnvironmentFile=-/nvram/openvswitch.conf
EnvironmentFile=-/run/openvswitch/useropts
ExecStart=/usr/share/openvswitch/scripts/ovs-ctl \
          --no-ovs-vswitchd --no-ovsdb-server --no-monitor --system-id=random \
          ${OVSUSER} \
          start $OPTIONS
ExecStop=/usr/share/openvswitch/scripts/ovs-ctl --no-ovs-vswitchd --no-ovsdb-server stop
ExecReload=/usr/share/openvswitch/scripts/ovs-ctl --no-ovs-vswitchd --no-ovsdb-server \
           ${OVSUSER} \
           --no-monitor restart $OPTIONS
